.home_container {
  width: 100vw;
  height: 100vh;
  background-image: url("../images/background_sky.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: --white;
}

.home_title {
  color: --white;
  font-size: 14px;
  font-weight: bold;
}