.home_container {
  width: 100vw;
  height: 100vh;
  background-image: url("../public/images/background_sky.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.home_title {
  padding: 20px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.home_title h1 {
  color: var(--white);
  font-size: 6vw;
  font-weight: bold;
}

.search_box {
  position: absolute;
  bottom: 0px;
  display: flex;
  padding: 20px;
  border-radius: 38px;
  background: rgba(61, 90, 152, 0.50);
}