.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(12,23,77,1);
    background: linear-gradient(0deg, rgba(12,23,77,1) 16%, rgba(91,140,237,1) 80%, rgba(169,207,254,1) 100%);
    padding: 30px 0;
  }
  
  .footer h4 {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    color: #f92f60;
  }